Source: libstoragemgmt
Priority: extra
Maintainer: Ritesh Raj Sarraf <rrs@debian.org>
Build-Depends: debhelper (>= 8.0.0), libyajl-dev, autoconf, automake, libtool, libxml2-dev, pkg-config, check, python (>= 2.6), python-pywbem
Standards-Version: 3.9.2
Section: libs
Homepage: http://sourceforge.net/apps/trac/libstoragemgmt/
#Vcs-Git: git://git.debian.org/collab-maint/libstoragemgmt.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libstoragemgmt.git;a=summary

Package: libstoragemgmt-tools
Architecture: any
Depends: libstoragemgmt0 (= ${binary:Version}), ${misc:Depends}, python
Description: library for storage array management - cli tools
 vendor agnostic library interface to manage storage arrays
 .
 This package contains the cli tools

Package: libstoragemgmtd
Architecture: any
Depends: libstoragemgmt0 (= ${binary:Version}), ${misc:Depends}, python
Description: library for storage array management - daemon
 vendor agnostic library interface to manage storage arrays
 .
 This package contains the daemon

Package: libstoragemgmt-dev
Section: libdevel
Architecture: any
Depends: libstoragemgmt0 (= ${binary:Version}), ${misc:Depends}
Description: library for storage array management - development headers
 vendor agnostic library interface to manage storage arrays
 .
 This package contains the development headers

Package: libstoragemgmt0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for storage array management - development library
 vendor agnostic library interface to manage storage arrays
 .
 This package contains the library
